@(gastoP: String)(listPartido:List[util.GastoTotal])(listDeputado:List[util.GastoTotal])(listSenador:List[util.GastoTotal])

@* Copyright 2013 de Kellyton Brito. Este arquivo é parte 
do programa MeuCongressoNacional.com . O MeuCongressoNacional.com 
é um software livre; você pode redistribuí-lo e/ou modificá-lo 
dentro dos termos da GNU Affero General Public License como 
publicada pela Fundação do Software Livre (FSF) na versão 3 
da Licença. Este programa é distribuído na esperança que possa 
ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita 
de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja 
a licença para maiores detalhes, disponível em 
meucongressonacional.com/license. Você deve ter recebido uma cópia 
da GNU Affero General Public License, sob o título "LICENCA.txt", 
junto com este programa, se não, acesse http://www.gnu.org/licenses/ *@

@content = {

<div class="row">
	<div class="span9">
		<div class="widget">
			<div class="widget-header">
				<i class="icon-signal"></i>
				<h3>Gasto médio, agrupado por partido, em 2013</h3>
			</div>
			<div class="widget-content" align="center">
				<div id="container_partido"></div>
			</div>
			
		</div>
	</div>
</div>	

<div class="row">
	<div class="span5">
		<div class="widget">
			<div class="widget-header">
				<h3>Câmara dos Deputados: distribuição dos gastos, em 2013</h3>
			</div>
			<div id="container_camara"></div>
		</div>
	</div>
	
	<div class="span4">
		<div class="widget">
			<div class="widget-header">
				<h3>Senado Federal: distribuição dos gastos, em 2013</h3>
			</div>
			<div id="container_senado"></div>
				<!-- <div id="container_senado" style="min-width: 310px; height: 300px; margin: 0 auto"></div> -->
		</div>
	</div>
</div>

<div class="row">
	<div class="span5">
		<div class="widget widget-table">
			<div class="widget-header">
				<i class="icon-signal"></i>
				<h3>Câmara: tipo dos gastos, em 2013</h3>
			</div>
			<div class="widget-content" align="center">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Valor</th>
						</tr>
					</thead>

					<tbody>
						@for((item, index) <- listDeputado.zipWithIndex){
						<tr>
							<td>@item.getNome()</td>
							<td>@item.getValorFormated()</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="widget widget-table">
			<div class="widget-header">
				<i class="icon-signal"></i>
				<h3>Senado: tipo dos gastos, em 2013</h3>
			</div>
			<div class="widget-content" align="center">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Valor</th>
						</tr>
					</thead>

					<tbody>
						@for((item, index) <- listSenador.zipWithIndex){
						<tr>
							<td>@item.getNome()</td>
							<td>@item.getValorFormated()</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
(function($){ // encapsulate jQuery
$(function () {
	
	$('#container_partido').highcharts({
        chart: {
        },
        
        title: {
            text: ''
        },
        
        xAxis: {
            categories: [
			@for((partido, index) <- listPartido.zipWithIndex){
				@if(index != listPartido.size()-1){
					'@partido.getNome()',
				} else {
					'@partido.getNome()'
				}
			}
			]
        },
        
        series: [{
        	name: 'Gasto médio dos parlamentares por partido, por dia, em 2013',
            data: [@gastoP]
        }]
    });
	
    $('#container_camara').highcharts({
        chart: {
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        title: {
            text: ''
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false,
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Gastos',
            innerSize: '10%',
            data: [
          		@for((dep, index) <- listDeputado.zipWithIndex){
          		['@dep.getNome()', @dep.getValorInteger],
          		}
            ]
        }]
    });
    
    $('#container_senado').highcharts({
        chart: {
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        title: {
            text: ''
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false,
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Gastos',
            innerSize: '10%',
            data: [
          		@for((sen, index) <- listSenador.zipWithIndex){
          		['@sen.getNome()', @sen.getValorInteger],
          		}
            ]
        }]
    });
    
});
})(jQuery);
</script>


}

@rightheader(content)(6)