@(words: List[models.util.WordFrequency])(politico: IPolitico)(comissoes: List[models.util.ComissaoSimple])(projetos: List[ProjetoDeLei])(totaisTipo: List[TotalTipo])(totaisData: List[TotalData])

@* Copyright 2013 de Kellyton Brito. Este arquivo é parte 
do programa MeuCongressoNacional.com . O MeuCongressoNacional.com 
é um software livre; você pode redistribuí-lo e/ou modificá-lo 
dentro dos termos da GNU Affero General Public License como 
publicada pela Fundação do Software Livre (FSF) na versão 3 
da Licença. Este programa é distribuído na esperança que possa 
ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita 
de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja 
a licença para maiores detalhes, disponível em 
meucongressonacional.com/license. Você deve ter recebido uma cópia 
da GNU Affero General Public License, sob o título "LICENCA.txt", 
junto com este programa, se não, acesse http://www.gnu.org/licenses/ *@

@content = {

				<div class="row"><!--  Primeira linha = Foto, Profile e Indice -->
				
					<div class="span6">
						<div class="widget">
							<div class="widget-content">
								<div class="account-container">
									<div class="account-avatar">
										@if((politico.getPhotoURL() == null)||(politico.getPhotoURL().length() > 0)) {
										<img src="@routes.Assets.at("images/nophoto.jpg")" alt="Sem foto" class="thumbnail" />
										} else {
										<img src="politico.getPhotoURL()" alt="" class="thumbnail" />
										}
									</div> <!-- /account-avatar -->
									<div class="account-details">
										@if(!politico.isDeputado()){
										<b>
										<span class="account-role">***** Dados dos Senadores ainda em fase experimental. Para dados mais detalhados sobre os parlamentares, verifique os Deputados Federais *****</span>
										</b>
										}
										
										<span class="account-name">@politico.getNomeParlamentar()</span>
										<span class="account-name">@politico.getNome()</span>
										<span class="account-role">Partido: @politico.getPartido()</span>
										<span class="account-role">Estado: @politico.getUf()</span>
										<span class="account-role">Gastos Totais @politico.getGastoTotalFormated(): </span>
										<span class="account-role">Dias em exercício considerado: @politico.getDiasTrabalhados()</span>
										<span class="account-role">Gastos por dia em exercício considerado: @politico.getGastoPorDiaFormated()</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="span3">
						<div class="widget">
							<div class="widget-content" title="100 representa o gabinete do Deputado com maior gasto no Congresso, e todos os outros são calculados proporcionalmente a ele. Portanto, quanto mais próximo de 100, maior o gasto do gabinete do parlamentar.">
								<!-- <div id="index_graph" style="height: 150px; margin-left:auto; margin-right:auto;"></div> -->
								<div id="index_graph" style="height: 65%; width: 65%; margin:0 auto;"></div>
								
							</div>
						</div>	
					</div>
				
				</div> <!--  /Primeira linha = Foto, Profile e Indice -->
				
				<div class="row"> <!-- Terceira linha: Tabelas com wordcloud à direita -->
				
					<div class="span6"><!-- Tabelas -->
					
						<!-- Tabela de comissões -->
						@if(comissoes != null) {
						<div class="widget widget-table">
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>Participa (ou já participou) de @comissoes.size() comissões</h3>
							</div> <!-- /widget-header -->

							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Sigla</th>
											<th>Nome</th>
										</tr>
									</thead>
									<tbody>
										@for((comissao, index) <- comissoes.zipWithIndex){
										<tr>
											<td>@comissao.getSigla()</td>
											<td>@comissao.getNome()</td>
										</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
						}
						
						<!-- Tabela de projetos -->
						@if(projetos != null) {
						<div class="widget widget-table">
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>@projetos.size() projetos de lei ou de emenda da constituição desde 2011</h3>
							</div> <!-- /widget-header -->

							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Sigla</th>
											<th>Nome</th>
											<th>Ementa</th>
											<th>Data</th>
										</tr>
									</thead>
									<tbody>
										@for((projeto, index) <- projetos.zipWithIndex){
										<tr>
											<td>@projeto.getSigla()</td>
											<td>@projeto.getNome()</td>
											<td>@projeto.getEmenta()</td>
											<td>@projeto.getDataApresentacao()</td>
										</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
						}
					
						<!-- Tabelas de totais por tipo -->
						<div class="widget widget-table">
							<div class="widget-header">
								<i class="icon-th-list"></i>
								@if(politico.isDeputado()){
								<h3>Gastos da cota parlamentar em 2013</h3>
								} else {
								<h3>Gastos da cota parlamentar desde o início do mandato</h3>
								}
							</div> <!-- /widget-header -->

							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>CNPJ / CPF</th>
											<th>Tipo do gasto</th>
											<th>Descrição do Gasto</th>
											<th>Valor</th>
										</tr>
									</thead>
									<tbody>
										@for((totalt, index) <- totaisTipo.zipWithIndex){
										<tr>
											<td>
												@if(politico.isDeputado()){
												<a href="/empresa/@totalt.getCnpj()">
													@totalt.getCnpj()
												</a>
												}else{
												@totalt.getCnpj()
												}
											</td>
											<td>@totalt.getDescricao()</td>
											<td>@totalt.getDetalhe()</td>
											<td>@totalt.getTotalGastoFormated</td>
										</tr>
										}
									</tbody>
								</table>
							</div>
						</div>	
					</div>
					
					@if(words == null) {
					<div class="span3"><!-- Tabela de totais por data -->
						<div class="widget widget-table">
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>Totais de gastos por data</h3>
							</div> <!-- /widget-header -->

							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Ano</th>
											<th>Mês</th>
											<th>Valor</th>
										</tr>
									</thead>
									<tbody>
										@for((totald, index) <- totaisData.zipWithIndex){
										<tr>
											<td>@totald.getAno()</td>
											<td>@totald.getMes()</td>
											<td>@totald.getTotalGastoFormated</td>
										</tr>
										}
									</tbody>
								</table>
							</div>
						</div>	
					</div>
					} else {
					<div class="span3"><!-- wordcloud -->
						<div class="widget">
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>Nuvem de palavras</h3>
							</div> <!-- /widget-header -->

							<div class="widget-content">
								<div id="wordcloud"></div>
							</div>
						</div>
					</div>
					}
				</div><!-- Terceira linha: Tabelas  -->

<script type="text/javascript">

var fill = d3.scale.category20();

@if(words != null) {
d3.layout.cloud().size([300, 300])
	.words([	    
	@for((word, index) <- words.zipWithIndex){	
		@if(index < words.size-1){
			{text: "@word.word", size: @word.occurrences},
		} else {
			{text: "@word.word", size: @word.occurrences}
		}
	}
		  	].map(function(d) {
		  		return {text: d.text, size: d.size*10};
		}))
		.padding(1)
		.font("Impact")
		.rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
		.fontSize(function(d) { return d.size; })
		.on("end", draw)
		.start();
	
	function draw(words) {
		d3.select("#wordcloud").append("svg")
		  .attr("width", 300)
		  .attr("height", 300)
		.append("g")
		  .attr("transform", "translate(150,150)")
		.selectAll("text")
		  .data(words)
		.enter().append("text")
		  .style("font-size", function(d) { return d.size + "px"; })
		  .style("font-family", "Impact")
		  .style("fill", function(d, i) { return fill(i); })
		  .attr("text-anchor", "middle")
		  .attr("transform", function(d) {
		    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
		  })
		  .text(function(d) { return d.text; });
	}
}

//Create and populate the data table.
var data = google.visualization.arrayToDataTable([
  ['Gastos'],
  [@politico.getIndice()]
]);

var options = {
        redFrom: 67, redTo: 100,
        yellowFrom:32, yellowTo: 67,
        greenFrom:0, greenTo:32,
        minorTicks: 5
      };

// Create and draw the visualization.
new google.visualization.Gauge(document.getElementById('index_graph')).
    draw(data, options);


(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-45372757-1', 'meucongressonacional.com');
ga('send', 'pageview');

</script>

}

@rightheader(content)(0)