@(deputados: List[DeputadoFederal])(depMelhores: List[DeputadoFederal])(depPiores: List[DeputadoFederal])(senadores: List[Senador])(senMelhores: List[Senador])(senPiores: List[Senador])

@content = {
				<!-- Linha dos deputados -->
				
				<div class="row">
					<div class="span5">
						
						@if(senadores != null) {
							<!-- Senadores -->
							<div class="widget widget-table">
	
								<div class="widget-header">
									<i class="icon-th-list"></i>
									<h3>@senadores.size() senadores encontrados</h3>
								</div> <!-- /widget-header -->
	
								<div class="widget-content">
			
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Nome</th>
												<th>Partido</th>
												<th>UF</th>
												<th>R$/dia</th>
												<th>Indice</th>
											</tr>
										</thead>
			
										<tbody>
											@for((sen, index) <- senadores.zipWithIndex){
											<tr>
												<td>
													<a href="/senador/@sen.getCodParlamentar()">
														@sen.getNomeParlamentar()
													</a>
												</td>
												<td>@sen.getPartido()</td>
												<td>@sen.getUf()</td>
												<td>@sen.getGastoPorDiaFormated()</td>
												<td><canvas id="indice-s-@index" width="30" height="30"></canvas></td>
											</tr>
											}
										</tbody>
									</table>
								
								</div> <!-- /widget-content -->
						
							</div> <!-- /span5 - Terminou a tabela.-->
						}
						
						@if(deputados != null) {			
						<!-- Deputados federais -->
							<div class="widget widget-table">
	
								<div class="widget-header">
									<i class="icon-th-list"></i>
									<h3>@deputados.size() deputados encontrados</h3>
								</div> <!-- /widget-header -->
	
								<div class="widget-content">
			
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Nome</th>
												<th>Partido</th>
												<th>UF</th>
												<th>R$/dia</th>
												<th>Indice</th>
											</tr>
										</thead>
			
										<tbody>
											@for((dep, index) <- deputados.zipWithIndex){
											<tr>
												<td>
													<a href="/deputado/@dep.getIdeCadastro()">
														@dep.getNomeParlamentar()
													</a>
												</td>
												<td>@dep.getPartido()</td>
												<td>@dep.getUf()</td>
												<td>@dep.getGastoPorDiaFormated()</td>
												<!--  <td>@dep.getIndice()</td> -->
												<td><canvas id="indice-@index" width="30" height="30"></canvas></td>
											</tr>
											}
										</tbody>
									</table>
								
								</div> <!-- /widget-content -->
							</div>
						}
						
					</div><!-- Terminou. Vai pra parte da direita -->

					<div class="span4">
						
						<!-- 5 Melhores senadores -->
							@if(senadores != null) {
							<div class="row">
			
								<div class="span4">
			
									<!-- Lista dos politicos -->
									<div class="widget widget-table">
			
										<div class="widget-header">
											<i class="icon-th-list"></i>
											<h3>Senadores que gastaram MENOS</h3>
										</div> <!-- /widget-header -->
			
										<div class="widget-content">
					
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>Nome</th>
														<th>Partido</th>
														<th>UF</th>
														<th>R$/dia</th>
														<th>Indice</th>
													</tr>
												</thead>
					
												<tbody>
													@for((sen, index) <- senMelhores.zipWithIndex){
													<tr>
														<td>
															<a href="/senador/@sen.getCodParlamentar()">
																@sen.getNomeParlamentar()
															</a>
														</td>
														<td>@sen.getPartido()</td>
														<td>@sen.getUf()</td>
														<td>@sen.getGastoPorDiaFormated()</td>
														<td><canvas id="indice-sm-@index" width="30" height="30"></canvas></td>
													</tr>
													}
												</tbody>
											</table>
										
										</div> <!-- /widget-content -->
									</div><!-- widget-table -->
			
								</div> <!-- /span4 -->
			
							</div><!-- /5 PIORES -->
							<!-- /5 piores senadores-->
							<div class="row">
			
								<div class="span4">
			
									<!-- Lista dos politicos -->
									<div class="widget widget-table">
			
										<div class="widget-header">
											<i class="icon-th-list"></i>
											<h3>Senadores que gastaram MAIS</h3>
										</div> <!-- /widget-header -->
			
										<div class="widget-content">
					
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>Nome</th>
														<th>Partido</th>
														<th>UF</th>
														<th>R$/dia</th>
														<th>Indice</th>
													</tr>
												</thead>
					
												<tbody>
													@for((sen, index) <- senPiores.zipWithIndex){
													<tr>
														<td>
															<a href="/senador/@sen.getCodParlamentar()">
																@sen.getNomeParlamentar()
															</a>
														</td>
														<td>@sen.getPartido()</td>
														<td>@sen.getUf()</td>
														<td>@sen.getGastoPorDiaFormated()</td>
														<td><canvas id="indice-sp-@index" width="30" height="30"></canvas></td>
														
													</tr>
													}
												</tbody>
											</table>
										
										</div> <!-- /widget-content -->
									</div><!-- widget-table -->
			
								</div> <!-- /span4 -->
			
							</div><!-- /5 piores -->
							}
						
						<!-- 5 Melhores sDeputados-->
						@if(deputados != null) {
						<div class="row">
			
								<div class="span4">
			
									<!-- Lista dos politicos -->
									<div class="widget widget-table">
			
										<div class="widget-header">
											<i class="icon-th-list"></i>
											<h3>Deputados que gastaram MENOS</h3>
										</div> <!-- /widget-header -->
			
										<div class="widget-content">
					
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>Nome</th>
														<th>Partido</th>
														<th>UF</th>
														<th>R$/dia</th>
														<th>Indice</th>
													</tr>
												</thead>
					
												<tbody>
													@for((dep, index) <- depMelhores.zipWithIndex){
													<tr>
														<td>
															<a href="/deputado/@dep.getIdeCadastro()">
																@dep.getNomeParlamentar()
															</a>
														</td>
														<td>@dep.getPartido()</td>
														<td>@dep.getUf()</td>
														<td>@dep.getGastoPorDiaFormated()</td>
														<!--  <td>@dep.getIndice()</td> -->
														<td><canvas id="indicem-@index" width="30" height="30"></canvas></td>
													</tr>
													}
												</tbody>
											</table>
										
										</div> <!-- /widget-content -->
									</div><!-- widget-table -->
			
								</div> <!-- /span4 -->
			
							</div><!-- /5 PIORES -->
							<!-- /5 piores -->
							<div class="row">
			
								<div class="span4">
			
									<!-- Lista dos politicos -->
									<div class="widget widget-table">
			
										<div class="widget-header">
											<i class="icon-th-list"></i>
											<h3>Deputados que gastaram MAIS</h3>
										</div> <!-- /widget-header -->
			
										<div class="widget-content">
					
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>Nome</th>
														<th>Partido</th>
														<th>UF</th>
														<th>R$/dia</th>
														<th>Indice</th>
													</tr>
												</thead>
					
												<tbody>
													@for((dep, index) <- depPiores.zipWithIndex){
													<tr>
														<td>
															<a href="/deputado/@dep.getIdeCadastro()">
																@dep.getNomeParlamentar()
															</a>
														</td>
														<td>@dep.getPartido()</td>
														<td>@dep.getUf()</td>
														<td>@dep.getGastoPorDiaFormated()</td>
														<!--  <td><td>@dep.getIndice()</td> -->
														<td><canvas id="indicep-@index" width="30" height="30"></canvas></td>
														
													</tr>
													}
												</tbody>
											</table>
										
										</div> <!-- /widget-content -->
									</div><!-- widget-table -->
			
								</div> <!-- /span4 -->
			
							</div><!-- /5 piores -->
							}
					</div> <!-- /span4 -->
					
				</div> <!-- Termina a linha dos caras -->


<script type="text/javascript">
@if(deputados != null) {
	@for((dep, index) <- deputados.zipWithIndex){
		var pieData = [
				{ 	value: 100-@dep.getIndice(),
					color:"#090"
				},
				{ 	value : @dep.getIndice(),
					color : "#900"
				}
			];
		
		var myPie = new Chart(document.getElementById("indice-@index").getContext("2d")).Pie(pieData);
	}
	
	@for((dep, index) <- depMelhores.zipWithIndex){
		var pieData = [
				{ 	value: 100-@dep.getIndice(),
					color:"#090"
				},
				{ 	value : @dep.getIndice(),
					color : "#900"
				}
			];
		
		var myPie = new Chart(document.getElementById("indicem-@index").getContext("2d")).Pie(pieData);
	}
	
	@for((dep, index) <- depPiores.zipWithIndex){
		var pieData = [
				{ 	value: 100-@dep.getIndice(),
					color:"#090"
				},
				{ 	value : @dep.getIndice(),
					color : "#900"
				}
			];
		
		var myPie = new Chart(document.getElementById("indicep-@index").getContext("2d")).Pie(pieData);
	}
}

@if(senadores != null) {
	@for((sen, index) <- senadores.zipWithIndex){
		var pieData = [
				{ 	value: 100-@sen.getIndice(),
					color:"#090"
				},
				{ 	value : @sen.getIndice(),
					color : "#900"
				}
			];
		
		var myPie = new Chart(document.getElementById("indice-s-@index").getContext("2d")).Pie(pieData);
	}
	
	@for((sen, index) <- senMelhores.zipWithIndex){
		var pieData = [
				{ 	value: 100-@sen.getIndice(),
					color:"#090"
				},
				{ 	value : @sen.getIndice(),
					color : "#900"
				}
			];
		
		var myPie = new Chart(document.getElementById("indice-sm-@index").getContext("2d")).Pie(pieData);
	}
	
	@for((sen, index) <- senPiores.zipWithIndex){
		var pieData = [
				{ 	value: 100-@sen.getIndice(),
					color:"#090"
				},
				{ 	value : @sen.getIndice(),
					color : "#900"
				}
			];
		
		var myPie = new Chart(document.getElementById("indice-sp-@index").getContext("2d")).Pie(pieData);
	}
}
</script>
				

				
}

@rightheader(content)(0)

@if(deputados != null) {
} <!-- end if -->