@(empresa: Empresa)(politicoValores: List[util.PoliticoValor])

@* Copyright 2013 de Kellyton Brito. Este arquivo é parte 
do programa MeuCongressoNacional.com . O MeuCongressoNacional.com 
é um software livre; você pode redistribuí-lo e/ou modificá-lo 
dentro dos termos da GNU Affero General Public License como 
publicada pela Fundação do Software Livre (FSF) na versão 3 
da Licença. Este programa é distribuído na esperança que possa 
ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita 
de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja 
a licença para maiores detalhes, disponível em 
meucongressonacional.com/license. Você deve ter recebido uma cópia 
da GNU Affero General Public License, sob o título "LICENCA.txt", 
junto com este programa, se não, acesse http://www.gnu.org/licenses/ *@

@content = {

				<div class="row"><!--  Primeira linha = detalhes -->
					<div class="span5">
						<div class="widget">
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>Empresa</h3>
							</div> <!-- /widget-header -->
							<div class="widget-content">
								<div class="account-container">
									<div class="account-details">
										<span class="account-name">@empresa.getFantasia()</span>
										<span class="account-name">@empresa.getNome()</span>
										<span class="account-name">@empresa.getCnpjFormatted()</span>
										@if(empresa.isCNPJ()){
										<span class="account-role">Data de Abertura: @empresa.getDataAberturaFormatted()</span>
										<span class="account-role">Atividade Principal: @empresa.getAtividadePrincipal()</span>
										<span class="account-role">Natureza Jurídica: @empresa.getNaturezaJuridica</span>
										<span class="account-role">Endereço: @empresa.getLogradouro(), @empresa.getNumero(), @empresa.getComplemento()</span>
										<span class="account-role">@empresa.getCep(), @empresa.getCidade(), @empresa.getEstado()</span>
										}
										<span class="account-role">Situação: @empresa.getSituacao(), obtida em @empresa.getDataSituacaoFormatted()</span>
										<span class="account-role">Total recebido de parlamentares (em 2013): @empresa.getTotalRecebidoFormated()</span>
										<span class="account-role">Dado obtido da Receita Federal em: @empresa.getUpdatedAtFormatted()</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="span4">
						<div class="widget">
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>Localização (experimental)</h3>
							</div>
							<div class="widget-content" align="center">
								<iframe src="@routes.MapService.showMap(empresa.getLatitude(), empresa.getLongitude(), empresa.getFantasia())"></iframe>
								<a href="@routes.MapService.showMap(empresa.getLatitude(), empresa.getLongitude(), empresa.getFantasia())" target="_blank">Clique AQUI para expandir</a><br>
							</div>
						</div>	
					</div>
					
				</div>
				<div class="row"><!-- segunda linha: tabela-->
				
					<div class="span6">
							@if(politicoValores != null) {
							<div class="widget widget-table">
								<div class="widget-header">
									<i class="icon-th-list"></i>
									<h3>Recebeu verba de @politicoValores.size() deputado(s) em 2013</h3>
								</div> <!-- /widget-header -->
	
								<div class="widget-content">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
											
												<th>Deputado</th>
												<th>Estado</th>
												<th>Partido</th>
												<th>Valor</th>
											</tr>
										</thead>
										<tbody>
											@for((valor, index) <- politicoValores.zipWithIndex){
											<tr>
												<td>
													<a href="/deputado/@valor.getIdeCadastro()">
														@valor.getNome()
													</a>
												</td>
												<td>@valor.getEstado()</td>
												<td>@valor.getPartido()</td>
												<td>@valor.getValorFormated()</td>
											</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
							}
					</div>
				
				</div> <!-- encerra a linha: tabela -->
	
	
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-45372757-1', 'meucongressonacional.com');
ga('send', 'pageview');

</script>
	
	
}

@rightheader(content)(0)