@(partidos: List[models.util.GastoPartido])(valoresGastos: String)

@* Copyright 2013 de Kellyton Brito. Este arquivo é parte 
do programa MeuCongressoNacional.com . O MeuCongressoNacional.com 
é um software livre; você pode redistribuí-lo e/ou modificá-lo 
dentro dos termos da GNU Affero General Public License como 
publicada pela Fundação do Software Livre (FSF) na versão 3 
da Licença. Este programa é distribuído na esperança que possa 
ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita 
de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja 
a licença para maiores detalhes, disponível em 
meucongressonacional.com/license. Você deve ter recebido uma cópia 
da GNU Affero General Public License, sob o título "LICENCA.txt", 
junto com este programa, se não, acesse http://www.gnu.org/licenses/ *@

<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
        },
        
        title: {
            text: 'Gasto médio dos parlamentares, agrupados por partido'
        },
        
        xAxis: {
            categories: [
			@for((partido, index) <- partidos.zipWithIndex){
				@if(index != partidos.size()-1){
					'@partido.getPartido()',
				} else {
					'@partido.getPartido()'
				}
			}
			]
        },
        
        series: [{
        	name: 'Gasto médio de cada parlamentar, por dia',
            data: [@valoresGastos]
        }]
    });
});
</script>

</head>
<body>

<script src="@routes.Assets.at("js/highcharts.js")"></script>
<script src="@routes.Assets.at("js/highcharts-more.js")"></script>

<div id="container" style="min-width: 310px; max-width: 550px; height: 350px; margin: 0 auto;"></div>
	</body>
</html>
