@(deputados: List[DeputadoFederal])(senadores: List[Senador])

@content = {

	<div class="span9">
				<h1 class="page-title">
					<i class="icon-home"></i>
					Nossos Politicos					
				</h1>
				
				<div class="stat-container">
										
					<div class="stat-holder">						
						<div class="stat">							
							<span>513</span>							
							Deputados Federais							
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
					<div class="stat-holder">						
						<div class="stat">							
							<span>81</span>							
							Senadores							
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
					<div class="stat-holder">						
						<div class="stat">							
							<span>26+1</span>							
							Estados							
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
					<div class="stat-holder">						
						<div class="stat">							
							<span>100+</span>							
							Estatísticas							
						</div> <!-- /stat -->						
					</div> <!-- /stat-holder -->
					
				</div> <!-- /stat-container -->
				
				<div class="widget">

					<div class="widget-header">
						<i class="icon-signal"></i>
						<h3>Busca</h3>
					</div> <!-- /widget-header -->
					<div class="widget-content">
						<div class="faq-container">
							<form class="faq-search" method="post" action="@routes.Search.search()">
								<input type="text" name="q" placeholder="Digite o nome ou parte do nome de um ou mais políticos (deputados ou senadores)">
							</form>
						</div>
							
										
					</div> <!-- /widget-content -->
					
				</div>
				
				<div class="row">
					
					<div class="span5">
									
						<div class="widget">
							
							<div class="widget-header">
								<h3>Orientações</h3>
							</div> <!-- /widget-header -->
																
							<div class="widget-content">
								<p>Para saber informações detalhadas sobre os gastos dos digníssimos Senadores e Deputados Federais, apenas coloque o nome ou parte do nome deles (podem ser vários) no campo de busca acima, selecione por estado ao lado direito, ou visualize todos os deputados federais ou todos os senadores no menu do lado esquerdo.<br>
								</p>
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span4 -->
		
					<div class="span4">
						
						<div class="widget">
							
							<div class="widget-header">
								<h3>Escolha por estado</h3>
							</div> <!-- /widget-header -->
																
							<div class="widget-content">
								<ul id="map">
							        <li id="crs" estado="rs"><a href="@routes.Estados.estado("rs")" id="rs" title="RS"><img src="@routes.Assets.at("images/null.gif")" alt="RS" /></a></li>
							        <li id="csc" estado="sc"><a href="@routes.Estados.estado("sc")" id="sc" title="SC"><img src="@routes.Assets.at("images/null.gif")" alt="SC" /></a></li>
							        <li id="cpr" estado="pr"><a href="@routes.Estados.estado("pr")" id="pr" title="PR"><img src="@routes.Assets.at("images/null.gif")" alt="PR" /></a></li>
							        <li id="csp" estado="sp"><a href="@routes.Estados.estado("sp")" id="sp" title="SP"><img src="@routes.Assets.at("images/null.gif")" alt="SP" /></a></li>
							        <li id="cms" estado="ms"><a href="@routes.Estados.estado("ms")" id="ms" title="MS"><img src="@routes.Assets.at("images/null.gif")" alt="MS" /></a></li>
							        <li id="crj" estado="rj"><a href="@routes.Estados.estado("rj")" id="rj" title="RJ"><img src="@routes.Assets.at("images/null.gif")" alt="RJ" /></a></li>
							        <li id="ces" estado="es"><a href="@routes.Estados.estado("es")" id="es" title="ES"><img src="@routes.Assets.at("images/null.gif")" alt="ES" /></a></li>
							        <li id="cmg" estado="mg"><a href="@routes.Estados.estado("mg")" id="mg" title="MG"><img src="@routes.Assets.at("images/null.gif")" alt="MG" /></a></li>
							        <li id="cgo" estado="go"><a href="@routes.Estados.estado("go")" id="go" title="GO"><img src="@routes.Assets.at("images/null.gif")" alt="GO" /></a></li>
							        <li id="cba" estado="ba"><a href="@routes.Estados.estado("ba")" id="ba" title="BA"><img src="@routes.Assets.at("images/null.gif")" alt="BA" /></a></li>
							        <li id="cmt" estado="mt"><a href="@routes.Estados.estado("mt")" id="mt" title="MT"><img src="@routes.Assets.at("images/null.gif")" alt="MT" /></a></li>
							        <li id="cro" estado="ro"><a href="@routes.Estados.estado("ro")" id="ro" title="RO"><img src="@routes.Assets.at("images/null.gif")" alt="RO" /></a></li>
							        <li id="cac" estado="ac"><a href="@routes.Estados.estado("ac")" id="ac" title="AC"><img src="@routes.Assets.at("images/null.gif")" alt="AC" /></a></li>
							        <li id="cam" estado="am"><a href="@routes.Estados.estado("am")" id="am" title="AM"><img src="@routes.Assets.at("images/null.gif")" alt="AM" /></a></li>
							        <li id="crr" estado="rr"><a href="@routes.Estados.estado("rr")" id="rr" title="RR"><img src="@routes.Assets.at("images/null.gif")" alt="RR" /></a></li>
							        <li id="cpa" estado="pa"><a href="@routes.Estados.estado("pa")" id="pa" title="PA"><img src="@routes.Assets.at("images/null.gif")" alt="PA" /></a></li>
							        <li id="cap" estado="ap"><a href="@routes.Estados.estado("ap")" id="ap" title="AP"><img src="@routes.Assets.at("images/null.gif")" alt="AP" /></a></li>
							        <li id="cma" estado="ma"><a href="@routes.Estados.estado("ma")" id="ma" title="MA"><img src="@routes.Assets.at("images/null.gif")" alt="MA" /></a></li>
							        <li id="cto" estado="to"><a href="@routes.Estados.estado("to")" id="to" title="TO"><img src="@routes.Assets.at("images/null.gif")" alt="TO" /></a></li>
							        <li id="cse" estado="se"><a href="@routes.Estados.estado("se")" id="se" title="SE"><img src="@routes.Assets.at("images/null.gif")" alt="SE" /></a></li>
							        <li id="cal" estado="al"><a href="@routes.Estados.estado("al")" id="al" title="AL"><img src="@routes.Assets.at("images/null.gif")" alt="AL" /></a></li>
							        <li id="cpe" estado="pe"><a href="@routes.Estados.estado("pe")" id="pe" title="PE"><img src="@routes.Assets.at("images/null.gif")" alt="PE" /></a></li>
							        <li id="cpb" estado="pb"><a href="@routes.Estados.estado("pb")" id="pb" title="PB"><img src="@routes.Assets.at("images/null.gif")" alt="PB" /></a></li>
							        <li id="crn" estado="rn"><a href="@routes.Estados.estado("rn")" id="rn" title="RN"><img src="@routes.Assets.at("images/null.gif")" alt="RN" /></a></li>
							        <li id="cce" estado="ce"><a href="@routes.Estados.estado("ce")" id="ce" title="CE"><img src="@routes.Assets.at("images/null.gif")" alt="CE" /></a></li>
							        <li id="cpi" estado="pi"><a href="@routes.Estados.estado("pi")" id="pi" title="PI"><img src="@routes.Assets.at("images/null.gif")" alt="PI" /></a></li>
							    </ul>
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
					</div> <!-- /span4 -->
					
				</div> <!-- /row -->
				
				<div class="row">
				
				<div class="span5">
						
						<div class="widget widget-table">
							
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>Maiores gastos da Câmara dos Deputados</h3>
							</div> <!-- /widget-header -->
																
							<div class="widget-content">
								<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Gabinete</th>
												<th>Partido</th>
												<th>UF</th>
												<th>R$/dia</th>
												<th>Gastos</th>
											</tr>
										</thead>
			
										<tbody>
											@for((dep, index) <- deputados.zipWithIndex){
											<tr>
												<td>
													<a href="./deputado/@dep.getIdeCadastro()">
														@dep.getNomeParlamentar()
													</a>
												</td>
												<td>@dep.getPartido()</td>
												<td>@dep.getUf()</td>
												<td>@dep.getGastoPorDiaFormated()</td>
												<td><div id='indice-@index'></div></td>
											</tr>
											}
										</tbody>
									</table>
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
					</div> <!-- /span4 -->
					
					<div class="span4">
									
						<div class="widget widget-table">
							
							<div class="widget-header">
								<i class="icon-th-list"></i>
								<h3>Maiores gastos do Senado</h3>
							</div> <!-- /widget-header -->
																
							<div class="widget-content">
								<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Gabinete</th>
												<th>Partido</th>
												<th>UF</th>
												<th>R$/dia</th>
												<th>Gastos</th>
											</tr>
										</thead>
			
										<tbody>
											@for((sen, index) <- senadores.zipWithIndex){
											<tr>
												<td>
													<a href="./senador/@sen.getCodParlamentar()">
														@sen.getNomeParlamentar()
													</a>
												</td>
												<td>@sen.getPartido()</td>
												<td>@sen.getUf()</td>
												<td>@sen.getGastoPorDiaFormated()</td>
												
												<td><div id='indice-s-@index'></div></td>
											</tr>
											}
										</tbody>
									</table>
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span4 -->
					
				</div> <!-- /row -->
				
			</div>
			
<div id='bigGraph' width="500" height="500"></div>


<script type="text/javascript">
@for((dep, index) <- deputados.zipWithIndex){
	var graph = new Rickshaw.Graph( {
		element: document.querySelector("#indice-@index"),
		width: 30,
		height: 30,
		renderer: 'bar',
		series: [ 
			{	data: [ { x: 0, y: @dep.getIndice() } ],
				@if(dep.getIndice() <= 32){
					color: '#008000'
				} else {
					@if(dep.getIndice()<=67){
						color: '#FFA500'
					} else {
						color: '#B80000'
					}
				}
			}, {	data: [ { x: 0, y: 100 - @dep.getIndice() } ],
				color: '#B8B8B8'
			} ]
	} );
	graph.render();
}


@for((sen, index) <- senadores.zipWithIndex){
	var graph = new Rickshaw.Graph( {
		element: document.querySelector("#indice-s-@index"),
		width: 30,
		height: 30,
		renderer: 'bar',
		series: [ 
			{	data: [ { x: 0, y: @sen.getIndice() } ],
				@if(sen.getIndice() <= 32){
					color: '#008000'
				} else {
					@if(sen.getIndice()<=67){
						color: '#FFA500'
					} else {
						color: '#B80000'
					}
				}
			}, {	data: [ { x: 0, y: 100 - @sen.getIndice() } ],
				color: '#B8B8B8'
			} ]
	} );
	graph.render();
}


(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-45372757-1', 'meucongressonacional.com');
ga('send', 'pageview');

</script>
}

@leftmenu(content)(1)