@(content: Html)(activemenu: Integer)

@* Copyright 2013 de Kellyton Brito. Este arquivo é parte 
do programa MeuCongressoNacional.com . O MeuCongressoNacional.com 
é um software livre; você pode redistribuí-lo e/ou modificá-lo 
dentro dos termos da GNU Affero General Public License como 
publicada pela Fundação do Software Livre (FSF) na versão 3 
da Licença. Este programa é distribuído na esperança que possa 
ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita 
de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja 
a licença para maiores detalhes, disponível em 
meucongressonacional.com/license. Você deve ter recebido uma cópia 
da GNU Affero General Public License, sob o título "LICENCA.txt", 
junto com este programa, se não, acesse http://www.gnu.org/licenses/ *@

@contentfull = {
<div id="content">
	<div class="container">
		<div class="row">
			<!--  Left menu -->
			<div class="span3">
				<center><img src="@routes.Assets.at("images/mcn.png")" align="center"></center>
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
					
					@if(activemenu == 1) {
					<li class="active">
					} else {
	  				<li>
					}					
						<a href="@routes.Application.index()">
							<i class="icon-home"></i>
							Inicio 		
						</a>
					</li>
					
					@if(activemenu == 2) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Deputados.deputados()">
							<i class="icon-user"></i>
							Deputados Federais
							<span class="label label-warning pull-right">513</span>
						</a>
					</li>
					
					@if(activemenu == 3) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Senadores.senadores()">
							<i class="icon-user"></i>
							Senadores
							<span class="label label-warning pull-right">81</span>
						</a>
					</li>
					
					@*
					@if(activemenu == 4) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Cotas.getCotas">
							<i class="icon-user"></i>
							Cotas Parlamentares
						</a>
					</li> *@
					
					<hr />
					
					@if(activemenu == 5) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Empresas.empresas">
							<i class="icon-user"></i>
							Empresas
						<span class="label label-warning pull-right">20.475</span>
						</a>
					</li>
					
					@if(activemenu == 6) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Estatisticas.estatisticas()">
							<i class="icon-user"></i>
							Estatísticas
						</a>
					</li>
					
					<hr />
					
					@if(activemenu == 7) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Application.sobre">
							<i class="icon-user"></i>
							Sobre
						</a>
					</li>
					
				</ul>	
				
				<hr />
				
				<div class="sidebar-extra">
					<p></p>
				</div> <!-- colocar aqui pra cadastrar o e-mail -->
				
				<br />
		
			</div> <!-- /span3 -->
			
			@content
			
	</div> <!-- container -->
</div>


}

@main("MeuCongressoNacional.com")(contentfull)