@(content: Html)(activemenu: Integer)

@contentfull = {
<div id="content">
	<div class="container">
		<div class="row">
			<!--  Left menu -->
			<div class="span3">
				<center><img src="@routes.Assets.at("images/mcn.png")" align="center"></center>
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
					
					@if(activemenu == 1) {
					<li class="active">
					} else {
	  				<li>
					}					
						<a href="@routes.Application.index()">
							<i class="icon-home"></i>
							Inicio 		
						</a>
					</li>
					
					@if(activemenu == 2) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Deputados.deputados()">
							<i class="icon-user"></i>
							Deputados Federais
							<span class="label label-warning pull-right">513</span>
						</a>
					</li>
					
					@if(activemenu == 3) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Senadores.senadores()">
							<i class="icon-user"></i>
							Senadores
							<span class="label label-warning pull-right">81</span>
						</a>
					</li>
					
					@*
					@if(activemenu == 4) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Cotas.getCotas">
							<i class="icon-user"></i>
							Cotas Parlamentares
						</a>
					</li> *@
					
					<hr />
					
					@if(activemenu == 5) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Empresas.empresas">
							<i class="icon-user"></i>
							Empresas
						<span class="label label-warning pull-right">20.475</span>
						</a>
					</li>
					
					@if(activemenu == 6) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Estatisticas.estatisticas()">
							<i class="icon-user"></i>
							Estatísticas Gerais
						</a>
					</li>
					
					<hr />
					
					@if(activemenu == 7) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Application.sobre">
							<i class="icon-user"></i>
							Sobre
						</a>
					</li>
					<hr />
					@* Google translate *@
					<div id="google_translate_element"></div>
						<script type="text/javascript">
							function googleTranslateElementInit() {
  								new google.translate.TranslateElement({pageLanguage: 'pt', gaTrack: true, gaId: 'UA-45372757-1'}, 'google_translate_element');
							}
						</script>
						<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					
					@*
					@if(activemenu == 8) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Application.contato">
							<i class="icon-user"></i>
							Contato
						</a>
					</li>
					*@
					
				</ul>	
				
				<hr />
				
				<div class="sidebar-extra">
					<p></p>
				</div> <!-- colocar aqui pra cadastrar o e-mail -->
		
			</div> <!-- /span3 -->
			
			@content
			
	</div> <!-- container -->
</div>


}

@main("MeuCongressoNacional.com")(contentfull)