@(content: Html)(activemenu: Integer)

@contentfull = {

<div id="content">
	
	<div class="container">
		
		<div class="row">
			
			<!--  Left menu -->
			<div class="span3">
								
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
					
					@if(activemenu == 1) {
					<li class="active">
					} else {
	  				<li>
					}					
						<a href="@routes.Application.index()">
							<i class="icon-home"></i>
							Inicio 		
						</a>
					</li>
					
					@if(activemenu == 2) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Deputados.depFederal()">
							<i class="icon-user"></i>
							Deputados Federais
							<span class="label label-warning pull-right">513</span>
						</a>
					</li>
					
					@if(activemenu == 3) {
					<li class="active">
					} else {
	  				<li>
					}
						<a href="@routes.Senadores.senador">
							<i class="icon-user"></i>
							Senadores
							<span class="label label-warning pull-right">81</span>
						</a>
					</li>
				</ul>	
				
				<hr />
				
				<div class="sidebar-extra">
					<p>Pesquise inserindo à direita o nome (ou parte do nome) de algum deputado e/ou senador, ou selecione por estado, ou clique acima para ver a lista de todos os deputados ou senadores.</p>
				</div> <!-- .sidebar-extra -->
				
				<br />
		
			</div> <!-- /span3 -->
			
			@content
			
	</div> <!-- container -->
</div>


}

@main("Politicos Brasileiros")(contentfull)