@* Copyright 2013 de Kellyton Brito. Este arquivo é parte 
do programa MeuCongressoNacional.com . O MeuCongressoNacional.com 
é um software livre; você pode redistribuí-lo e/ou modificá-lo 
dentro dos termos da GNU Affero General Public License como 
publicada pela Fundação do Software Livre (FSF) na versão 3 
da Licença. Este programa é distribuído na esperança que possa 
ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita 
de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja 
a licença para maiores detalhes, disponível em 
meucongressonacional.com/license. Você deve ter recebido uma cópia 
da GNU Affero General Public License, sob o título "LICENCA.txt", 
junto com este programa, se não, acesse http://www.gnu.org/licenses/ *@

@contentfull = {

	<div class="span9">
		<h1 class="page-title">
			<i class="icon-home"></i>
			Sobre o Meu Congresso Nacional .com					
		</h1>
		
		<div class=row>
			<div class="span9">
				<div class="widget">
					<div class="widget-header">
						<i class="icon-search"></i>
						<h3>Informação Importante!!!</h3>
					</div>
					<div class="widget-content">
						<b>Obs.: Infelizmente os dados disponibilizados pela Câmara e pelo Senado não são 100% completos. Existem gastos que 
						são listados em outras bases, mas não são encontrados na base que disponibilizam aos desenvolvedores.
						Também temos problemas com dados de alguns parlamentares que são "vazios", tendo ZERO de gasto, 
						mesmo sendo possivel verificar através de outras consultas (ou até mesmo no site da câmara) que eles tem gastos.
						Infelizmente não podemos fazer muita coisa a esse respeito, apenas cobrar insistentemente das autoridades.
						* Última Atualização em 31/12/2013 *</b>
					</div>
				</div>
			</div>
		</div>
		
		<div class=row>
			<div class="span5">
				<div class="widget">
					<div class="widget-header">
						<i class="icon-search"></i>
						<h3>O Site</h3>
					</div>
					<div class="widget-content">
					A idéia do MeuCongressoNacional.com surgiu de um almoço entre amigos, durante o
					período das manifestações populares ocorridas no Brasil em 2013. Estes
					amigos queriam fazer algo realmente útil, que pudesse ajudar a população
					a escolher melhor nossos parlamentares nas próximas eleições.
					
					O objetivo do projeto é o aumento da transparência na divulgação de informações públicas, além de
					uma maior aproximação da população com o poder legislativo e uma maior compreensão das atividades
					parlamentares, tanto <a href="@routes.Deputados.deputados()"">
					<b>Deputados Federais</b></a> (mais completo) quanto <a href="@routes.Senadores.senadores()"><b>Senadores</b></a> (ainda em desenvolvimento).
					No site são apresentados dados (unitários ou consolidados) sobre as <a href="http://www2.camara.leg.br/atividade-legislativa/comissoes/o-papel-das-comissoes" target="_blank">
					<b>comissões </b></a> que cada um participa, os <a href="http://www12.senado.gov.br/jovemsenador/arquivos/como-sao-feitas-as-leis-1" target="_blank">
					<b>projetos de lei ou de emenda da constituição </b></a> que cada um já apresentou,
					e principalmente dados sobre os <b>gastos</b> relacionados 
					<a href="http://www2.camara.leg.br/comunicacao/assessoria-de-imprensa/cota-parlamentar" target="_blank">
					<b>às cotas parlamentares</b></a>. Também são apresentados dados sobre as  
					<a href="@routes.Empresas.empresas()"><b> empresas </b></a>que receberam pagamentos 
					relacionados à cota parlamentar, verificar algumas <a href="@routes.Estatisticas.estatisticas()"><b> estatísticas </b></a>
					e até visualizar a localização delas no mapa <a href="/empresa/17589509000114"><b>(ver exemplo)</b></a>.
					<br><br>
					O site tem como público alvo tanto a população em geral, que queira acompanhar mais de perto o mandato dos parlamentares,
					como órgãos de controle e fiscalização, que podem utilizar o mesmo como uma ferramenta de apoio na detecção de irregularidades.
					<br>
					O site está em constante desenvolvimento. Mais informações, ou qualquer dúvida, reclamação, crítica, sugestão, ou
					solicitação de dados relacionados aos parlamentares mas não constantes no site, pode nos contactar
					pelo e-mail kellyton@@kellyton.com.br .
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="widget">
					<div class="widget-header">
						<i class="icon-search"></i>
						<h3>Os Dados</h3>
					</div>
					<div class="widget-content">
						Todos os dados aqui apresentados são dados abertos, disponibilizados pelo Governo Federal, e "acessíveis"
						por qualquer pessoa. "Acessíveis" pois normalmente eles são de difícil acesso, e principalmente
						são difíceis de se obter informações relevantes, como somatórios, totalizações, comparativos, etc.
						<br><br>
						Os dados dos deputados são obtidos na seção de <a href="http://www2.camara.leg.br/transparencia/dados-abertos" target="_blank">
						<b>dados abertos da Câmara dos Deputados</b></a>, e os dos senadores são obtidos na seção de
						<a href="http://dadosabertos.senado.gov.br/" target="_blank"><b>dados abertos do Senado Federal</b></a> (que sofreu uma boa atualizada
						nos últimos dias). Além disso, os dados das empresas são obtidos diretamente no site de 
						<a href="http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/cnpjreva_solicitacao.asp" target="_blank"><b>
						Consulta de CNPJ da Receita Federal</b></a> de forma semi-automática: se nós ainda não temos os dados da empresa
						que você deseja consultar, nós remetemos sua pesquisa ao site da receita e você mesmo valida o 
						<a href="http://pt.wikipedia.org/wiki/CAPTCHA" target="_blank"><b>captcha </b></a>deles.
						<br><br>
						Por fim, de posse do endereço da empresa obtido junto à Receita Federal, mostramos a localização utilizando o 
						tradicional <a href="http://maps.google.com"><b>Google Maps</b></a>. Não está perfeito, mas dá pra visualizar muitas empresas.
						<br><br>
						Pretendemos atualizar a base de dados todos os meses. <b>Última atualização em 31/12/2013<b>.
						<br>
					</div>
				</div>
			</div>
		</div>
		
		<div class=row>
			<div class="span5">
				<div class="widget">
					<div class="widget-header">
						<i class="icon-search"></i>
						<h3>Quem Somos</h3>
					</div>
					<div class="widget-content">
						<p><b>Criador do projeto:</b><br>
							<a class="brand" href="http://www.kellyton.com.br">Kellyton Brito</a>
							, professor do Departamento de Informática e Estatística da Universidade
							Federal Rural de Pernambuco, e Doutorando em Engenharia de Software pela Universidade
							Federal de Pernambuco.
						</p>
							
						<p><b>Colaboradores:</b><br>
							<a class="brand" href="https://twitter.com/misaelneto" target="_blank">+ Misael Neto</a>
							Participou da ideação inicial do projeto e é conselheiro técnico e amigo para todas as horas.
							<br>
							+ Discussões sobre questões técnicas referentes à atividade parlamentar 
							com o Gabinete do Procurador Marcos Antônio da Silva Costa (MPF/PRR-5a. Região), <br>
							+ Discussões de design com <a class="brand" href="http://dyegocarlos.com" target="_blank">Dyego Carlos</a>;
							<br> 
							+ Discussões sobre o desenvolvimento da solução que busca as informações no site da Receita
							Federal com <a class="brand" href="https://www.facebook.com/ivoromario" target="_blank">Ivo Lima</a>
							<br>
	 						+ Criação da logo da página por <a class="brand" href="https://twitter.com/cristov4m" target="_blank">Cristovam Segundo</a>;
	 						<br>
	 						+ Discussões diversas com os participantes do <a href="http://www.camara.leg.br/hackathon" target="_blank">Hackathon </a>promovida pela Câmara dos Deputados
	 						no final de agosto/2013, bem como com o corpo técnico de TI da Câmara.
						</p>
							
							Também são importantes o apoio da <a href="http://www.ufrpe.br" target="_blank">Universidade Federal Rural de Pernambuco</a>
							, a <a href="http://www.cin.ufpe.br" target="_blank">Universidade Federal de Pernambuco</a>, 
							e o <a href="http://www.ines.org.br/" target="_blank">Instituto Nacional de Ciência e Tecnologia para Engenharia de Software</a>
							, por proverem os ambientes necessários para reflexão, discussões e implementação desta iniciativa.
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="widget">
					<div class="widget-header">
						<i class="icon-search"></i>
						<h3>Contatos</h3>
					</div>
					<div class="widget-content">
						O site está em constante desenvolvimento. Se deseja mais informações, ou colaborar com o projeto,
						ou se tiver	qualquer dúvida, reclamação, crítica, sugestão, ou solicitação de dados relacionados 
						aos parlamentares mas não constantes no site, envie um e-mail para o kellyton@@kellyton.com.br.
					</div>
				</div>
			</div>
		</div>
		
		<div class=row>
			<div class="span9">
				<div class="widget">
					<div class="widget-header">
						<i class="icon-search"></i>
						<h3>Notícias na imprensa</h3>
					</div>
					<div class="widget-content">
					+ Globo News em 01/11/13: <a href="http://glo.bo/1i0qqe0">Hackers criam aplicativos para fiscalizar atuação do Congresso</a>
					<br>
					+ G1 em 01/11/13: <a href="http://bit.ly/kbhack">Hackers criam projetos para ajudar eleitores a fiscalizar parlamentares</a>
					<br>
					+ Jornal do Comércio em 04/11/13: <a href="http://bit.ly/1j2eLsS">Pernambucano lança site para fiscalizar gastos públicos dos parlamentares</a>.
					(Obs.: O criador do site é de Salvador/BA) - Republicado no <a href="http://bit.ly/17S2JD4">Blog do Jamildo</a>, e outros blogs/sites.  
					<br>
					+ Cin/UFPE em 04/11/2013: <a href="http://bit.ly/1j2eLsS">Doutorando do CIn-UFPE cria site para fiscalização pública do Congresso Nacional</a>					
					<br>
					+ Rádio CBN Recife em 06/11/2013: <a href="http://bit.ly/kbhack">entrevista concedida a Elen Lacerda</a>. Abaixo
					<br><br>
					<div align="center">
						<iframe width="420" height="315" src="//www.youtube.com/embed/sjwa0SC7icw" frameborder="0" allowfullscreen></iframe>
					</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

<script type="text/javascript">

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-45372757-1', 'meucongressonacional.com');
ga('send', 'pageview');

</script>


}

@leftmenu(contentfull)(7)